.button {
  outline: none;
  background-color: $color-tertiary;
  color: $color-primary;

  &__basic {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.8em;
    margin-right: -0.8em;
    color: $color-secondary;

    @media (hover: hover) {
      &:hover {
        color: $color-tertiary;
      }
    }

    &:active {
      color: $color-tertiary;
      transition: all 200 ease-in-out;
      transform: scaleX(0.9);
    }
  }
}
