.button {
  padding: 1.125em 1.625em;
  border-radius: 2rem;
  outline: none;
  background-color: $color-tertiary;
  color: $color-primary;

  &__basic {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.8em;
    padding: 0.2em;
    padding-left: 0.8em;

    &:hover {
      color: $color-tertiary;
    }
  }
}
