.button {
  outline: none;
  background-color: $color-tertiary;
  color: $color-primary;
  transition: all 0.5s ease;

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 2px 5px rgba(242, 114, 114, 0.5);
    }
  }

  &:active {
    transform: scale(0.9);
  }
}
