.timer {
  margin-top: 3em;
  margin-bottom: 2em;
  position: relative;

  &__progress {
    transform: rotate(-90deg);
    border-radius: 100%;
    background-color: $color-dark-blue;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    fill: transparent;
    stroke: $color-tertiary;
    animation-name: minutes;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    stroke-dasharray: 911.062;
    stroke-dashoffset: 911.062;
    stroke-linecap: round;
    stroke-width: 10;

    // @include breakpoint-up(medium) {
    //   width: 450px;
    //   height: 450px;

    //   // circle {
    //   //   cx: 225;
    //   //   cy: 225;
    //   //   r: 210;
    //   // }
    // }
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &-heading {
      font-size: 4rem;
    }

    &-start {
      cursor: pointer;
      text-transform: uppercase;

      &:hover {
        color: $color-tertiary;
      }
    }
  }

  &__button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes minutes {
  0% {
    stroke-dashoffset: 911.062;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
