.timer {
  margin-top: 3em;
  margin-bottom: 2em;
  position: relative;

  &__progress {
    transform: rotate(-90deg);
    border-radius: 100%;
    background-color: $color-dark-blue;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    fill: transparent;
    stroke: $color-tertiary;
    stroke-dasharray: 911.062;
    stroke-dashoffset: 911.062;
    stroke-linecap: round;
    stroke-width: 10;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &-heading {
      font-size: 4.5rem;

      @include breakpoint-up(medium) {
        font-size: 5.5rem;
      }
    }
  }

  &__button {
    display: flex;
    position: absolute;
    align-items: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      fill: $color-secondary;
    }
  }

  @include breakpoint-up(medium) {
    margin-top: 7em;
    transform: scale(1.2);
  }
}

.animate-clock {
  animation-name: minutes;
  animation-play-state: paused;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes minutes {
  0% {
    stroke-dashoffset: 911.062;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
